<ion-view view-title="Edit">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Edit  Menu
    </ion-toggle>
    Use above toggle to enable ad disable making changes to menu
    <div class="list">
	  <label class="item item-input item-floating-label">
	    <span class="input-label">App Name</span>
	    <input type="text" placeholder="App Name">
	  </label>
	  <label class="item item-input item-floating-label">
	    <span class="input-label">Name of Menu</span>
	    <input type="text" placeholder="Name of Menu">
	  </label>
	   <label class="item item-input item-floating-label">
	    <span class="input-label">Background of Menu</span>
	    <input type="text" placeholder="Background of Menu">
	  </label>
	   <label class="item item-input item-floating-label">
	    <span class="input-label">Font Color of Menu</span>
	    <input type="text" placeholder="Font Color of Menu">
	  </label>
	   <label class="item item-input item-floating-label">
	    <span class="input-label">Font of Menu</span>
	    <input type="text" placeholder="Font of Menu">
	  </label>
	  
	  <center><button class="button button-positive">
	  	Upload Logo
	  </button></center>
	</div>
    </ion-list>
  </ion-content>
</ion-view>
